:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d1d1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
li{
  list-style-type: none;
}
ul{
  padding: 0 !important;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:rgb(255, 255, 255)
}

#app {
  max-width: 1600px;
  margin: 0 auto;
}
.menubar{
  margin-bottom: 2rem;
}
.header{
  display: flex;
}
.fieldset-container{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
}
.fieldset-section{
  padding:20px
}

.fieldset-wh-graph{
  grid-column: 1;
}

.fieldset-quickadd{
  grid-row: 1;
  grid-column: 3;
}
.fieldset-list-wh-p{
  grid-row: 1;
  grid-column: 2;
}

.create-btn{
  margin-bottom: 1rem;
}
.form-update-user{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.p-button-override{
  width: auto !important;
}
.form-img-adds{
  display: flex;
  flex-direction: column;
}

.registered-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.account-container{
  gap: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto;
}
.account-login{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-products{
  display:flex; 
  flex-direction:column;
  align-items:center;
  gap: 1rem;
  padding-bottom: 2rem;

}